[submodule "static/games/tempo-stack"]
	path = static/games/tempo-stack
	url = https://github.com/lytecade/tempo-stack.git
[submodule "static/games/bounce-mallow"]
	path = static/games/bounce-mallow
	url = https://github.com/lytecade/bounce-mallow.git
