{{define "content"}}
    <div class="cards">
        <div class="card" style="text-align:center;">
            <h2>Welcome to the Open Source HTML5 Games Showcase!</h2>
        </div>
    </div>
    <div class="cards">
        <div class="card" style="text-align:center;">
            <p>Explore a curated collection of fun, interactive, and completely free-to-play HTML5 games! This site is dedicated to showcasing high-quality open-source games built using the latest HTML5 technologies, making them accessible across a wide range of devices and platforms.</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="cards">
        {{range .SiteList}}
            <div class="card" style="text-align:center;">
                <img src="https://placehold.co/600x400" alt="placeholder" style="width:100%">
                <a href="{{.}}">{{.}}</a>
            </div>
        {{end}}
    </div>
{{end}}
{{define "extraMeta"}}
    <meta property="og:title" content="Home - My Website">
    <meta property="og:description" content="Welcome to the homepage of My Website">
{{end}}

