{{define "content"}}
<h2>Welcome to the Home Page</h2>
<p>This is the homepage of my website.</p>
{{end}}
{{define "extraMeta"}}
<meta property="og:title" content="Home - My Website">
<meta property="og:description" content="Welcome to the homepage of My Website">
{{end}}

