<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="description" content="{{.Description}}">
    {{- template "extraMeta" .}}
</head>
<body style="font-family:Arial,Helvetica,sans-serif;margin:0;">
    <header>
        <div style="padding:80px;text-align:center;background:#31a2f2;color:white;">
            <h1 style="font-size:40px;">LYTECADE</h1> 
        </div>
    </header>
    <main>
        {{- template "content" .}}
    </main>
</body>
</html>
