<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <meta name="description" content="{{.Description}}">
        {{- template "extraMeta" .}}
        {{- template "extraStyle" .}}
    </head>
    <body>
        <header>
            <nav>
                <h5 class="max center-align">LYTECADE</h5>
            </nav>
        </header>
        <main class="responsive">
            {{- template "content" .}}
        </main>
        {{- template "extraScript" .}}
    </body>
</html>
