:root {
    --hx-font-sans: monospace, system-ui, sans-serif;
}

.content :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-decoration-line: none;
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .hextra-nav-container-blur {
    background-color: rgba(236, 115, 87, 0.75);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}


