:root {
    --hx-font-sans: monospace, system-ui, sans-serif;
}

.content :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-decoration-line: none;
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .hextra-nav-container-blur {
    background-color: rgba(236, 115, 87, 0.75);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
}

.hx\:md\:text-5xl {
    font-size: var(--hx-text-5xl);
    line-height: var(--tw-leading,var(--hx-text-5xl--line-height));
    margin-bottom: 1em;
    margin-top: 1em;
    font-variant: all-small-caps;
    letter-spacing: normal;
}

.hx\:sm\:text-xl {
    font-size: var(--hx-text-2xl);
    line-height: var(--tw-leading, var(--hx-text-2xl--line-height));
    margin-bottom: 2em;
    font-variant: all-small-caps;
    letter-spacing: normal;
}

